<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="static/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        body {
            background-color: #F0F0F0;
            font-family: 'Roboto', sans-serif;
            text-align: left;
            max-width: 650px;
            margin: 0 auto;
            padding-top: 80px;
            padding-bottom: 80px;
        }
        div#content {
            padding-top: 40px;
        }

        {% block style %}
        {% endblock %}
    </style>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
