{% extends "base.html" %}
{% block title %}
Mikael Dubik, Software Engineer - Home
{% endblock %}

{% block style %}

p#a {
    margin-top: 20px;
}

p#b {
    padding-top: 10px;
}

p#c {
    padding-top: 20px;
}

img {
    float: left;
    padding-right: 40px;
    padding-bottom: 40px;
}

div#footer {
    text-align:center;
    margin-top: 120px;
    float: center;
}

div#footer a {
    margin-right: 80px;
}

{% endblock %}

{% block body %}
<div id="container">
    <div id="content">
        <h1>Mikael Dubik</h1>
        <h4>Software Engineer</h4>
        {% load static %}
        <p id="a"><img src="{% static "portrait.jpeg" %}" alt="Thats me!">I'm a passionate software developer born and raised in Reykjavík - Iceland with a masters degree in Computer Science. I'm interested in learning something new everyday, meeting new people, jumping into the unknown and having a good time. My playful and creative nature will probably prevent me from ever growing up (#tsjú). </p>
        <p id="b">I'm currently employed at NetApp Iceland as a Software Engineer for the core product of Qstack. Don't hesitate to shoot me an email if you want to get in touch.</p>
        <p id="c">Skál! and see you somewhere in the world ;)</p>
    </div>

    <div id="footer">
        <a href="https://github.com/mkdubik">github</a>
        <a href="/static/cv_en.pdf">resume</a>
        <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#107;&#100;&#117;&#98;&#105;&#107;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">email</a>
    </div>
</div>
{% endblock %}
