{% extends "base.html" %}
{% block title %}
Mikael Dubik, Software Engineer - The homebrewing project
{% endblock %}

{% block style %}

ul {
  list-style-type: none;
}

div#element {
    margin-left: 40px;
}

a#link {
    margin-left: 20px;
}

p#desc {
    font-style: italic;
    margin-left: 60px;
    font-size: 12pt
}

p#date {
    font-style: italic;
    margin-left: 60px;
    font-size: 11pt
}


{% endblock %}

{% block body %}
<div id="container">
    <div id="header">
        <a href="/">home</a>
        <a href="/projects">projects</a>
    </div>
    <div id="content">
        <ul>
            {% for l in logs %}
            <li>
                <div id="element">
                    <a id="link" href="/projects/brew/{{l.slug}}/">{{l.brew_type}}</a>
                    <p id="date">Yeast added: {{l.yeast_addition|date:"M d, Y" }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
