{% extends "base.html" %}
{% block title %}
Mikael Dubik, Software Engineer - The homebrewing project
{% endblock %}

{% block style %}

ul {
  list-style-type: none;
}

div#element {
    margin-left: 40px;
}

a#link {
    margin-left: 20px;
}

p#desc {
    font-style: italic;
    margin-left: 60px;
    font-size: 12pt
}

p#date {
    font-style: italic;
    margin-left: 60px;
    font-size: 11pt
}


{% endblock %}

{% block body %}
<div id="container">
    <div id="header">
        <a href="/">home</a>
        <a href="/projects">projects</a>
        <a href="/projects/brew/">the homebrewing project</a>
    </div>
    <div id="content">
        <h1>{{ log.brew_type }} - {{ log.yeast_addition }}</h1>
        <h4>Yeast type: {{ log.yeast }} </h4>
        <h4>Fruit amount: {{ log.fruit }} kg </h4>
        <h4>Sugar amount: {{ log.fruit }} kg </h4>
        <h4>Juice amount: {{ log.fruit }} L </h4>
        <h4>Water amount: {{ log.fruit }} L </h4>
        <h4>OG: {{ log.og }} - FG: {{ log.fg }} </h4>

        <div>Preprocessing: </br> {{ log.preprocess|safe }} </div>
        <div>Processing: </br> {{ log.process|safe }} </div>
        <div>Extra: </br> {{ log.extra|safe }} </div>
    </div>
</div>
{% endblock %}
